.sidebar2Row{
    display: flex;
    flex-direction: row;
    margin-left: 16px;
    cursor: pointer;
    padding: 10px;
}
.sidebar2Row:hover{
    background-color: #2f3031;
    border-radius: 10px;
    width: 80%;
}
.avatar{
    height: 36px ;
    width: 36px ;
}
.sidebar2Row h1{
    color: white;
    font-size: 16px;
    font-weight: 500;
    margin-top: 5px;
}