.sidebarRow {
    display: flex;
    flex-direction: row;
    margin-left: 13px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin-right: 160px;
    width: 100%;
    cursor:pointer;
}

.sidebarRow:hover {
    background-color: #2F3031;
    border-radius: 10px;
}

.sidebarRow_icon.avatar {
    border-radius: 50%;
    height: 36px;
    width: 36px;
}

.sidebarRow_icon {
    height: 28px;
    margin-left: 10px;
}

.sidebarRow_title {
    font-weight: 500;
    font-size: 15px;
    margin-top: 4px;
    color: #e4e6eb;
    margin-left: 10px;
}

.dropdown {
    display: none;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yB/r/ijsdQSHB2fB.png);
    background-size: 33px 1483px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-position: 35px 257px;
    vertical-align: -0.25em;
    margin-left: 5px;
    margin-top: 5px;
}

.dropdown.display {
    display: block;
}

.dropdownDiv {
    display: none;
    margin-left: 10px;
    background-color: #444546;
    border-radius: 200px;
    width: 30px;
    height: 30px;
}

.dropdownDiv.display {
    display: block;
}

.sidebarRow_icon.vanish {
    display: none;
}