.upload_container {
    display: flex;
    flex-direction: column;
    background-color: #242526;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 500px;
}

.upload.none {
    display: none;
}



.postArea{
    display: flex;
    flex-direction: row;
}

.postArea input {
    background-color: #3A3B3C;
    width: 85%;
    outline: none;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    font-size: 17px;
    color: #fff;
    border-radius: 30px;
}

.postArea input::-webkit-input-placeholder {
    font-size: 17px;
    color: #AAADB2;
}

.avatar {
    border-radius: 200px;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.LiveIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #f3425f;
}
.PhotoIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #45bd62;
}

.FeelingIcon {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #f7b928;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 5px;
    margin-bottom: 15px;
    margin-top: 10px;
}

.upload_container > .hr {
    margin-left: 16px;
    margin-bottom: 10px;
    margin-right: 16px;
    margin-top: 8px;
    border-bottom: 2px solid #3E4042;
}
.hr2  {
    margin-bottom: 10px;
    margin-top: 8px;
    border-bottom: 1px solid #3E4042;
}

.liveVideo, .photo, .feeling {
    display: flex;
    flex-direction: row;
    transition: 0.2s ease-out;
}

.liveVideo > h2, .photo > h2, .feeling > h2 {
    font-size: 15px;
    color:#b0b3b8;
    padding: 10px;
    font-weight: 600;
    margin-left: 5px;
}

.liveVideo > i, .photo > i, .feeling > i {
    margin-top: 10px;
    margin-left: 5px;
}

.liveVideo:hover, .photo:hover, .feeling:hover {
    background-color: #3A3B3C;
    border-radius: 10px;
    cursor:pointer;
}

.upload_modal >.modalInit> h1{
    font-size: 20px;
    font-weight: 700;
    color: #e4e6eb;
    text-align: center;
    margin-top: 15px;
    margin-left: 200px;
    margin-bottom: 15px;
}

.closeIcon {
    margin-top: 6px;
    cursor: pointer;
    margin-left: 190px;
    background-color: rgba(225,225,225,0.1);
    border-radius: 200px;
}

.closeIcon:hover {
    background-color: rgba(238, 238, 238, 0.6);
}

.modalInit {
    display: flex;
    width: 530px;
    flex-direction: row;
}

.profileHead {
    display: flex;
    flex-direction: row !important;
}

.profileHead h1 {
    font-size: 15px;
    color: #e4e6eb;
    font-weight: 600;
    margin: 0;
    margin-top: 18px;
}

.inputForUpload > textarea {
    margin-left: 10px;
    background-color: transparent;
    outline: none;
    width: 100%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #e4e6eb;
}

.inputForUpload > textarea::-webkit-input-placeholder {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #90949C;
}

.inputForUpload > textarea::-webkit-scrollbar {
    width: 10px;
}

.colorAa {
    height: 38px ;
    width: 38px ;
    margin-top: 30px;
    margin-left: 10px;
    cursor: pointer;
}

.publishOptions{
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    border: 1px solid rgba(128,128,128,0.5);
    border-radius: 5px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 20px;
}

.publishOptions .left h1 {
    font-sizE: 15px;
    font-weight:600;
    color: #e4e6eb;
    padding: 18px;
}

.pictureIcon {
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/zB8OjEYTfij.png);
    /* background-size: 36px 25px; */
    /* background-repeat: no-repeat; */
    height: 27px;
    width: 41px;
    background-position: 75px 1236px;
}

.friendsIcon {
    vertical-align: -0.25em;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/zB8OjEYTfij.png);
    display: inline-block;
    background-position: 75px 1335px;
    height: 27px;
    width: 41px;
}

.feelingIcon {
    vertical-align: -0.25em;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/zB8OjEYTfij.png);
    display: inline-block;
    background-position: 75px 1360px;
    height: 27px;
    width: 41px;
}
.moreIcon {
    vertical-align: -0.25em;
    background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yL/r/zB8OjEYTfij.png);
    display: inline-block;
    background-position: 75px 1388px;
    height: 27px;
    width: 41px;
}


.Icon {
    margin-left: 15px;
    margin-top: 10px;
}

.right {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.Icon:hover {
    cursor: pointer;
}

.btnPost {
    
    background-color: #2D88FF;
    color: #fff;
    outline: none;
    border: none;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 10px;
}

.btnPost.visible {
    display: block;
    background-color: #2D88FF !important;
    color: #fff !important;
    outline: none;
    border: none;
    height: 30px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor:pointer !important;
    font-weight: 600;
    transition: 0.2s;
    margin-bottom: 10px;
}

.btnPost.disabled {
    background-color: #4F5051;
    color: #848485;
    cursor: context-menu;
    font-weight: 600;
}

.ifu {
    display: none;
}

.previewImage.vanish {
    display: none;
}

.previewImage {
    width: auto;
    margin: 0;
    margin-left: 10px;
}

.reviewImage {
    height: 100px;
    width: auto;
    border-radius: 10px;
}

Dialog {
    z-index: 100 !important;
}
.upload_modal {
    display: flex;
    flex-direction: column;
    background-color: #242526;
    border: 2px solid #2A2B2C;
    z-index: 100 !important;
    overflow-x: hidden;
}

.left > h1 {
    cursor: pointer;
}

.hidden {
    display: none;
}